<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<p>Greetings, <span th:text="${principal}"></span>!</p>
<form th:action="@{/process_logout}" method="POST" enctype="utf8">
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <input type="submit" th:value="#{label.button.logout}">
</form>
</body>
</html>