<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<head>
    <title>Please log in</title>
</head>
<body>
<h1 th:text="#{label.authenticationForm.title}">form</h1>
<form th:action="@{/processAuthentication}" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label th:text="#{label.user.username}"></label>
        <input type="text" th:field="*{username}" name="username"/>
    </div>
    <div>
        <label th:text="#{label.user.password}"></label>
        <input type="password" th:field="*{password}" name="password" required minlength="6"/>
    </div>
    <div>
        <label th:text="#{label.user.login.remember_me}"></label>
        <input type="checkbox" name="remember-me">
    </div>
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <button type="submit" th:text="#{label.form.submit}"></button>
</form>
<a th:href="@{/registration}" th:text="#{label.href.registerInstead}"></a>
</body>
</html>