<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>News</title>
</head>
<body>

<a th:href="@{/home}" th:text="#{label.href.goHome}"></a>
<form th:action="@{/addNewPost}" method="POST" enctype="application/json">
    <div>
        <input type="text" th:placeholder="#{label.post.text}" name="text"/>
        <input type="text" th:placeholder="#{label.post.categories}" name="categories"/>
    </div>
    <button type="submit" th:text="#{label.form.submit}"></button>
</form>

<span class="modal_for_hidden_id" th:if="${not #lists.isEmpty(posts)}">
    <div th:each="post: ${posts}">
        <span id="post.text" th:text="${post.text}" th:value="${post.text}"/>
        <th:block th:text="#{label.post.categoriesListing}"></th:block>
        <span id="post.categoriesList" th:each="category: ${post.getCategoriesList()}">
            <a th:href="@{/posts_of_category/} + ${category.getCategoryName()}" th:class="'post_categories' + ${post.id}" th:text="${category.getCategoryName()}" th:value="${category.getCategoryName()}"></a>
        </span>
        <a th:text="${post.getPosterName()}" th:href="@{/posts_of_user/} + ${post.getPosterName()}"></a>
        <th:block th:if="${#strings.equals(post.getPosterName(), principal)} or ${adminFlag}">
            <button class="myBtn" th:value="${post.getId()}" th:text="#{label.modal.editBtn}" name="postId"></button>
        </th:block>
        <th:block th:if="!${#strings.equals(post.getPosterName(), principal)} and !${adminFlag}">
            <button class="myBtn" th:value="${post.getId()}" th:text="#{label.modal.editBtn}" name="postId" disabled></button>
        </th:block>
        <th:block>
            <form th:action="@{/deletePost}" method="POST" enctype="application/json">
                <input type="hidden" name="postId" th:value="${post.getId()}">
                <th:block th:if="${#strings.equals(post.getPosterName(), principal)} or ${adminFlag}">
                    <button class="delBtn" th:text="#{label.modal.deleteBtn}"></button>
                </th:block>
                <th:block th:if="!${#strings.equals(post.getPosterName(), principal)} and !${adminFlag}">
                    <button class="delBtn" th:text="#{label.modal.deleteBtn}" disabled></button>
                </th:block>
            </form>
        </th:block>
    </div>
</span>

<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.myModal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}

.myModal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 70%;
height: 70%;
}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover, .close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
</style>

<div class="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form th:action="@{/updatePost}" method="POST" enctype="application/json">
            <input type="text" text="" name="text" id="text">
            <input type="text" text="" name="categories" id="categories">
            <input type="hidden" id="modal_hidden" name="postId" value="">
            <input type="submit">
        </form>
    </div>
</div>

<script th:inline="javascript">
var posts = document.getElementsByClassName("modal_for_hidden_id");
var modal = document.getElementsByClassName("myModal")[0];
var btns = document.getElementsByClassName("myBtn");
var span = document.getElementsByClassName("close")[0];
var temp = 1;

for (let i = 0; i < btns.length; i++) {
    btns[i].onclick = function () {
        modal.style.display = "block";
        var post_id = btns[i].value;
        if (i != 0) {
            temp += 1;
        }
        var post_text = posts[0].childNodes[temp + i].childNodes[1].innerHTML;
        var post_categories = "";
        for (let cat of posts[0].getElementsByClassName("post_categories" + post_id)) {
            post_categories += cat.innerHTML + " ";
        }
        modal.childNodes[1].childNodes[3].childNodes[6].value = post_id;
        modal.childNodes[1].childNodes[3].childNodes[2].value = post_text;
        modal.childNodes[1].childNodes[3].childNodes[4].value = post_categories.trim();
    }
}

span.onclick = function() { modal.style.display = "none"; }

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>